/* 
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; */
:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondry: "PT Sans", sans-serif;

  --color-light: rgb(90, 88, 88);
  --color-primary: teal;

  --size-xl: 3.5rem;
  --size-lg: 3rem;
  --size-md: 2rem;
  --size-sm: 1.8rem;
  --size-xs: 1rem;
}

@media only screen and (max-width: 1024px) {
  :root {
    --size-lg: 2rem;
    --size-md: 1.5rem;
    --size-sm: 1rem;
    --size-xs: 0.8rem;
  }
}

body {
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: var(--size-lg);
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: var(--size-sm);
}

h4 {
  font-family: var(--font-secondry);
  font-weight: 500;
  font-size: var(--size-sm);
  color: var(--color-light);
}

p {
  font-family: var(--font-secondry);
  font-weight: 400;
  font-size: var(--size-xs);
  color: var(--color-light);
}

.active {
  color: var(--color-primary) !important;
}

.btn-uno {
  background-color: var(--color-primary);
  border: 0;
}

.btn-uno:hover {
  background-color: rgba(0, 128, 128, 0.832);
}
/* .margin-top{
  margin-top: 0;
}

@media only screen and (max-width: 1024px) {
  .margin-top{
    margin-top: 2rem;
  }
} */

/* Hero section */
#hero-section .hero-logo {
  font-size: var(--size-sm);
  font-weight: 500;
  color: var(--color-primary);
  font-family: var(--font-secondry);
}

#hero-section h1 {
  color: var(--color-primary);
  animation: moveRight 1s;
  transition: animation 0.2s;
}

#hero-section h4 {
  animation: moveLeft 1s;
  transition: animation 0.2s;
}

@keyframes moveRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#hero-section nav li a {
  font-size: var(--size-xs);
}

#hero-section .hero-main .headings {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  #hero-section .hero-main .headings {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  #hero-section .hero-main .headings {
    width: 90%;
  }
}

.main-img {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: var(--size-md);
  border-radius: 50%;
  box-shadow: 0 0 2px 3px teal;
}

.main-img img {
  margin-top: 1rem;
  width: 11rem;
}

/* About Section */

.about-section {
  padding: 8rem 0;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
}

.about-section .about-title {
  position: relative;
  padding-bottom: 0.3rem;
}

.about-section .about-title::before {
  content: "";
  position: absolute;
  border-top: 4px solid white;
  border-radius: 10px;
  width: 3rem;
  bottom: 0;
}

.about-section .about-text {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .about-section .about-text {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .about-section .about-text {
    width: 90%;
  }
}

.about-section .about-info {
  margin-top: 3rem;
}

.about-section p {
  color: white;
  text-align: justify;
}

/* Experience Section */
.experience-section {
  background-color: var(--color-primary);
  padding-bottom: 6rem;
}

.vertical-timeline-element-content span {
  color: white;
}

/* Projects Section */

.projects-section {
  padding: 8rem 0;
  text-align: center;
}

.projects-group {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .projects-group {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  .projects-group {
    width: 90%;
    margin: auto;
  }
}

.projects-section .projects-title {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.projects-section .projects-title::before {
  content: "";
  position: absolute;
  border-top: 4px solid var(--color-primary);
  border-radius: 10px;
  width: 3rem;
  bottom: 0;
  right: 0;
}

.projects-section .projects-info {
  margin-top: 3rem;
}

/* Cta Section */

.cta-section {
  text-align: center;
  padding: 8rem 0;
  background-color: var(--color-primary);
  margin-bottom: 8rem;
}

.cta-group {
  width: 70%;
  margin: auto;
}

.cta-card {
  background-color: white;
  padding: 6rem 0;
  border-radius: 5px;
  transition: all 0.2s;
}

.cta-card:hover {
  scale: 1.05;
}

@media only screen and (max-width: 1024px) {
  .cta-card {
    margin-top: 2rem;
  }
}

.cta-title {
  position: relative;
  display: inline-block;
  font-family: var(--font-secondry);
  padding-bottom: 0.5rem;
  color: white;
  margin-bottom: 5rem;
}

.cta-title::before {
  content: "";
  position: absolute;
  border-top: 4px solid white;
  border-radius: 10px;
  width: 3rem;
  bottom: 0;
  right: 0;
}

.cta-card:hover {
  cursor: pointer;
}

.cta-card i {
  color: var(--color-primary);
  font-size: var(--size-xl);
}

.cta-card h2 {
  margin-top: 2.5rem;
  font-family: var(--font-secondry);
  color: var(--color-primary);
  font-weight: 400;
}

.cta-card .social-group i {
  font-size: var(--size-xs);
}

/* Footer Section */
.footer-section {
  padding: 4rem 0 4rem;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-section ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-section li {
  padding: 0 10px;
  color: var(--color-primary);
}

.footer-section ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-section ul a:hover {
  opacity: 1;
}

.footer-section .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-section .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 37px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  margin: 0 8px;
  color: var(--color-primary);
  opacity: 0.75;
}

.footer-section .social > a:hover {
  opacity: 0.9;
}

.footer-section .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
  position: relative;
  padding-top: 1rem;
}

.footer-section .copyright a {
  color: var(--color-primary);
  transition: all 0.2s;
}

.footer-section .copyright a:hover {
  color: var(--color-primary);
  font-size: 14px;
  cursor: pointer;
}

/* .footer-section .copyright::before {
    content: "";
    width: 5rem;
    margin: auto;
    position: absolute;
    top: 0;
    border: 1px solid white;
  } */

.offcanvas-logo {
  color: var(--color-primary);
}

.navbar-toggler {
  padding: 0;
  border: 1px solid transparent;
}
